.chart div {
  height: 30px;
  font: 20px sans-serif;
  background-color: #136899;
  text-align: right;
  padding: 3px;
  color: white;
  margin-bottom: 2px;
  border: solid 1px black;
  border-left: none;
  padding-top: 10px;
  padding-right: 10px;
  white-space: nowrap;
}

.chart div:first-child{
  height: 30px;
  font: 20px sans-serif;
  background-color: #136899;
  text-align: right;
  padding: 3px;
  color: white;
  margin-bottom: 2px;
  border: solid 1px black;
  border-left: none;
  padding-top: 10px;
  padding-right: 10px;
  margin-bottom: 2px;
  white-space: nowrap;
}