@import url(http://fonts.googleapis.com/css?family=Roboto:100);
@import url(../resources/reset.css);

body {
	color: white;
	font-size: 100%;
	font-family: Roboto;
	background-image: url(http://paginas.fe.up.pt/~ei12060/PollWeb/resources/background.png);
 }

.flat-form {
	margin: 1.563em auto;
	width: 24.375em;
	position: relative;
	font-family: Roboto;
	background: rgb(52, 73, 94);
	z-index: 0;

 }

.tabs {
	height: 2.500em;
	margin: 0em 0em 1.25em;
	padding: 0em 0em 0em 1.563em;
	list-style-type: none;
	display: block;
	background: rgb(80, 80, 80);
 }

	.tabs li {
		display: block;
		float: left;
		margin: 0em;
		padding: 0em;
	 }

	.tabs a {
		display: block;
		float: left;
		text-decoration: none;
		color: white;
		font-size: 1em;
		padding: 0.750em 1.375em;
		background: rgb(80, 80, 80);
	 }

		.tabs a.active {
			border-right-style: none;
			background: rgb(80, 80, 80);
		 }

.form-action {
	padding: 0em 1.250em;
	position: relative;
 }

	.form-action h1 {
		font-size: 2.625em;
		padding-bottom: 0.75em;
		text-align: center;
	 }

	.form-action p.resetpw {
		font-size: 0.75em;
		padding-bottom: 0.833em;
		padding-left: 1.667em;
		padding-right: 1.667em;
		line-height: 2em;
	 }

	.form-action p.error {
		font-size: 0.75em;
		padding-bottom: 0.833em;
		padding-left: 0em;
		line-height: 2em;
		color: red;
		display: inline-block;
		margin-top: 1.667em;
		float: right;
	 }

	 .form-action p.error.login {
		font-size: 0.75em;
		padding-bottom: 0.833em;
		padding-left: 0em;
		line-height: 2em;
		color: red;
		display: inline-block;
		float: inherit;
		margin-top: 0em;
	 }

form {
	padding-left: 1.250em !important;
	padding-right: 1.250em !important;
 }

	form input[type="text"], form input[type="email"], form input[type="password"] {
		width: 100%;
		height: 3.25em;
		margin-bottom: 0.75em;
		padding-left: 1.250em;
		border: none;
		color: rgb(0, 0, 0);
		outline: none;
		background: rgb(255, 255, 255);
		font-family: Roboto;
		font-size: 0.85em;
		font-weight: bold;
	 }

.show {display: block;}

.hide {display: none;}

.button {
	border: none;
	display: inline;
	height: 3.25em;
	width: 6.25em;
	color: rgb(255, 255, 255);
	text-align: center;
	margin-top: 0.750em;
	background: rgb(19, 104, 153);
	font-family: Roboto;
	font-size: 0.85em;
	margin-bottom: 1em;
 }

	.button:hover {background: rgb(30, 117, 170);}

	.button:active {background: rgb(204, 51, 0);}

	.button.guest {
		width: 10em;
		float: right;
	}

#or {
	display: inline;
	padding-left: 2em;
}

footer {margin-top: 1em;}

#container {padding-top: 15em;}