@import url(http://fonts.googleapis.com/css?family=Roboto:100);
@import url(../resources/reset.css);

html {min-width: 1000px;}

body {
  color: white;
  font-family: Roboto;
  background-image: url(http://paginas.fe.up.pt/~ei12060/PollWeb/resources/background.png);
 }

.flat-form {
  margin: 1.563em auto;
  width: 49.375em;
  position: relative;
  font-family: Roboto;
  background: rgb(52, 73, 94);
  z-index: 0;
 }

.tabs {
  height: 2.500em;
  margin: 0em 0em 1.25em;
  padding: 0em;
  list-style-type: none;
  display: block;
  background: rgb(80, 80, 80);
 }

  .tabs li {
    display: block;
    float: left;
    margin: 0em;
    padding: 0em;
   }

  .tabs a {
    display: block;
    float: left;
    text-decoration: none;
    color: white;
    font-size: 1em;
    padding: 0.750em 1.375em;
    background: rgb(80, 80, 80);
   }

    .tabs a.active {
      border-right-style: none;
      background: rgb(80, 80, 80);
     }

.form-action {
  padding: 0em 1.25em;
  position: relative;
 }

  .form-action h1 {
    font-size: 2.625em;
    padding-bottom: 0.238em;
   }

  .form-action p {
    font-size: 1.25em;
    padding-bottom: 0.75em;
    line-height: 1.250em;
   }

.show {display: block;}

#container {
  clear: right;
  padding-top: 8em;
  overflow: hidden;
 }

  footer {margin-top: 1em;}

  .navbar-right {
  margin-right: 3em;
}

#userL {
  font-size: 1.5em;
  margin-right: 3em;
}

a.navbar-brand p {
  font-size: 2em;
}

.navbar-default {
  background-color: #505050;
  border-color: #787878;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ecdbff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ecdbff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ecdbff;
  background-color: #787878;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ecdbff;
  background-color: #787878;
}
.navbar-default .navbar-toggle {
  border-color: #787878;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #787878;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ecdbff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecdbff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #787878;
  }
}